{{ define "views/baseTop" }}
<html x-data="{ dark: true }" :class="dark ? &#39;dark&#39; : &#39;&#39;">
  <head>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script type="module" src="/assets/components/player/main.js"></script>
    <script type="module" src="/assets/components/player/playlist.js"></script>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
  <div id="hx-progress-bar"></div>
  <main id="main" class="dark:bg-zinc-900 bg-zinc-200 flex w-full" hx-history-elt>
{{end}} 


{{ define "views/baseBottom" }}
  </main>
  </body>
</html>
{{ end }}

{{ define "views/baseBottomWithFooter" }}
  </main>
  {{ template "components/player" .}}
  </body>
</html>
{{ end }}
