package homepage

import homecontent "github.com/sephix/htmx-player/internal/components/home-content"
import "github.com/sephix/htmx-player/internal/components/header"
import "github.com/sephix/htmx-player/internal/views/base"
import "github.com/sephix/htmx-player/internal/data/artist"

templ HomePage(artists []artist.Artist) {
	@basepage.BasePage() {
		@Header.Header()
		@homecontent.MainContent(artists)
	}
}

