{{ define "components/playlistContent" }}
  <content
    id="playlist-content"
    class="flex bg-zinc-950 h-screen w-screen ease-in-out p-12 gap-16"
    hx-get="/playlist"
    hx-swap="outerHTML"
    hx-trigger="playlist-update from:body"
    hx-select="#playlist-content"
    hx-disinherit="hx-select hx-trigger hx-swap"
  >
    <div
      id="playlist-song-info"
      class="flex flex-col items-center gap-8 w-96"
      hx-get="/playlist/current"
      hx-swap="outerHTML"
      hx-trigger="play-song from:body"
      hx-select="#playlist-song-info"
    >
      <img
        class="w-80 h-80 rounded-md drop-shadow-lg"
        src="/image/{{ .current.Track.Img }}"
        lazy
      />
      <div class="flex flex-col items-start gap-4 text-zinc-50 items-center">
        <h1 class="font-bold text-xl text-center">
          {{ .current.Track.Title }}
        </h1>
        <span
          class="font-medium flex items-center gap-4 hover:underline cursor-pointer text-cente text-zinc-400"
        >
          {{ .current.Artist.Name }}</span
        >
      </div>
    </div>
    <div
      class="flex flex-col grow text-zinc-400 overflow-y-scroll h-full pb-32"
    >
      <div class="flex border-b-zinc-600 border-b h-8 mb-8 pb-12">
        <h2 class="basis-2/3 font-semibold">Tracks</h2>
        <span class="basis-32"> </span>
        <span class="basis-32">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </div>
      <div
        id="playlist-tracks"
        class="flex flex-col grow gap-2"
        hx-get="/playlist"
        hx-target="#playlist-tracks"
        hx-select="#playlist-tracks"
        hx-swap="outerHTML"
        hx-trigger="play-song from:body, liking-current-update from:body, liking-update from:body"
        hx-disinherit="*"
      >
        {{ range $i, $elem := .playlist }}
          <div class="flex h-8 items-center hover:bg-zinc-700 rounded-s p-6">
            <span
              class="basis-2/3 flex items-center gap-4 text-lg  hover:underline
            {{ if $elem.Current }}
                text-rose-500
              {{ else }}
                text-zinc-200
              {{ end }}
          "
            >
              <span
                class="flex gap-4 items-center cursor-pointer"
                hx-get="/playlist/song/{{ $elem.Track.Id }}"
                hx-target="#playlist-tracks"
                hx-select="#playlist-tracks"
                hx-swap="outerHTML"
              >
                <img
                  class="w-8 h-8 rounded-sm drop-shadow-lg"
                  src="/image/{{ $elem.Track.Img }}"
                />
                {{ add $i 1 }}. {{ $elem.Track.Title }}</span
              >
            </span>
            <button
              id="like-container"
              class="basis-32 cursor-pointer like-container"
              hx-put="/track/like/{{ $elem.Track.Id }}"
              hx-swap="innerHTML"
              hx-trigger="click"
            >
              {{ template "components/track/like" $elem.Track.IsLiked }}
            </button>
            <span class="basis-1/6 font-semibold text-md text-zinc-100">
              {{ parseDuration $elem.Track.Duration }}
            </span>
          </div>
        {{ end }}
      </div>
    </div>
  </content>
{{ end }}
